
form {
    div{
        .mat-form-field{
            width: 100%;
        }
    }    
}

.filter-buttons{
    height: 40px;
    .mat-raised-button{
        margin-top: 10px;
        float: right;
    }
}

.filter-left{
    max-width: 180px; 
    width: 70%;
    display: inline-block;
}

.filter-right{
    max-width: 40px; 
    width: 30%;
    display: inline-block; 
    margin-left: 5px;
}

div.scale-label{
    display: inline-block; 
    font-size: 12px; 
    margin-left: 2px;
}

div.scale-color{
    border-style: solid ;
    border-width: 0.1px;
    border-color: slategray;
    width: 30%;
    height: 20px;
    display: inline-block;
    margin-left: 30%;
}