  p {
    margin: 1px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .grayed {
    color: #7a7a7a;
  }
  
  .col-padding-0 ion-col {
    padding: 0 0 0 5px;
  }
  
  .margin-top-20 {
    margin-top: 20px;
  }
  
  .padding-bottom-80 {
    padding-bottom: 80px;
  }
  
  .bottom-fix {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .top-border {
    border-top: 1px solid #dedede;
  }

  .ion-text-uppercase {
    color: #7A7A7A;
  }