div.edit-catch-dialog{
    min-width: 320px;
}

button.dialog-button {
    margin-top: 15px;
}
.ng-star-inserted {
    margin-bottom: 10px;
}

.content-title {
    text-align: left;
}

.mat-radio-button{
    margin-right: 15px;
}

.mat-form-field{
    display: block;
    margin-top: 10px;
}

div.dialog-buttons{
    float: right;
}
