<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maps/fine-tunning" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Melding <app-info-icon pageName="Melding"></app-info-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-item lines="none" class="body">
      <ion-list>
        <ion-item>
          <ion-label class="form-label">Type</ion-label>
          <ion-select slot="end" class="form-select" id="type" interface="popover" formControlName="type">
            <ion-select-option *ngFor="let observationType of observationTypes" [value]="observationType.id">
              {{ observationType.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="form-label">Foto</ion-label>
          <ion-item class="photo-box" slot="end" lines="none" color="light" button (click)="getPhoto()">
            <img [src]="clickedImage" class="camera-img" />
            <ion-icon [hidden]="isUpdateMode" name="camera-outline" size="large"></ion-icon>
            <!-- added to be able to bind form field -->
            <ion-input [disabled]="isUpdateMode" type="text" [value]="clickedImage" formControlName="image" hidden></ion-input>
          </ion-item>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Opmerkingen" formControlName="remarks"></ion-textarea>
        </ion-item>
        <ion-item [hidden]="!isUpdateMode">
          <ion-label class="form-label">Gemeld door:</ion-label>
          <ion-input slot="end" type="text">{{observation?.createdBy}}</ion-input>
        </ion-item>
        <ion-item [hidden]="!isUpdateMode">
          <ion-label class="form-label">Datum:</ion-label>
          <ion-input slot="end" type="text">{{ observation?.recordedOn | date:'dd-MM-yyyy HH:mm' }}</ion-input>
        </ion-item>
        <ion-item lines="none" [hidden]="!isUpdateMode">
          <ion-label class="form-label">Status:</ion-label>
          <ion-input slot="end" type="text">{{observation?.archived ? 'Gearchiveerd' : 'Actief'}}</ion-input>
        </ion-item>
      </ion-list>
    </ion-item>
    <section class="ion-text-center">
      <ion-button class="ion-text-uppercase" color="primary" fill="clear" (click)="cancel()">Annuleer
      </ion-button>
      <ion-button class="ion-text-uppercase" (click)="createOrUpdateObservation()" [disabled]="!form.valid">Bewaar
      </ion-button>
    </section>
  </form>
  <ion-list class="footer" [hidden]="!isUpdateMode">
    <ion-item lines="none" button *ngIf="!isOfflineMode" (click)="sendObservationEmail()">E-mail melding</ion-item>
    <ion-item lines="none" button *ngIf="!observation?.archived" (click)="archiveActiveObservation()">Archiveer melding
    </ion-item>
  </ion-list>
</ion-content>