<div class="side-bar-max-height">
  <mat-accordion multi="true" *ngFor="let group of sideBarItems">
    <mat-expansion-panel  [expanded]="isAccordionExpanded(group.name)" *ngxPermissionsOnly="group.policies">
      <mat-expansion-panel-header>
          <mat-panel-title>
              {{group.title}}
          </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <div *ngFor="let item of group.items" >
          <mat-list-item *ngxPermissionsOnly="item.policy">
              <a mat-list-item [routerLink]=createRouterLink(item.link) routerLinkActive="active-side-bar-item">
                  {{item.title}}
              </a>
          </mat-list-item>
        </div>
      </mat-nav-list>
  </mat-expansion-panel>
  </mat-accordion>
</div>