
form {
    div{
        .mat-form-field{
            width: 100%;
        }
    } 
    .filter-range {
        display: flex;
        justify-content: space-between;
    
        mat-form-field {
            width: 47.5%;
        }
    }   
}

.filter-buttons{
    height: 40px;
    .mat-raised-button{
        margin-top: 10px;
        float: right;
    }
}
