/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 15px 15px;
}

.mat-accordion > .mat-expansion-panel:first-of-type {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* Openlayers zoom controls */
.ol-zoom {
  top: auto;
  left: auto;
  right: 20px;
  bottom: 20px;
  .ol-zoom-in,
  .ol-zoom-out {
    color: black !important;
    background-color: white !important;
    font-weight: normal !important;
  }
}

.mat-text-uppercase {
  text-transform: uppercase;
}

.mat-float-right {
  float: right;
}

.spinner-container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
}

.mat-list-base .mat-list-item .mat-list-item-content{
  font-size: 14px;
  padding: 0 5px!important;
}

.mat-expansion-panel-header-title
{
  font-size: 14px;
  font-weight: 500;
}

.side-bar-max-height{
  height: calc(100vh - 70px);
  overflow-y: auto;
}

p.content-title {
  color: #333333;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}

.active-side-bar-item {
  font-weight: bold;
}

td.email-column{
  color: #247AAB;
}

th.mat-header-cell{
  font-size: 14px;
  color: #000000;
}

.mat-snack-bar-container{
  background-color: #1c6188!important;
}

.mat-simple-snackbar-action {
  color: white!important;
  font-weight: 500;
}

div.invalid-entry {
  color: #ff5722;
  font-size: 12px;
}

:root {
  .timepicker {

    .timepicker__header {
      background-color: grey !important;
    }
  
    .clock-face__clock-hand {
      background-color: grey !important;
  
      &::after {
        background-color: grey !important;
      }
  
      &::before {
        border-color: grey !important;
      }
    }
  
    .clock-face__number {
      > span.active {
        background-color: grey !important;
      }
    }
  
    button:not(.timepicker-dial__item) {
      color: grey !important;
    }
  }
}

.ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
  color: #1C6188;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #1C6188;
}

.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  color: #1C6188;
}

.ng-select.ng-select-focused .ng-select-container::after {
  border-color: #1C6188;
}

.report-map-container {
  width: 100%;
  height: 100%;
}
