.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

button.dialog-button {
    margin-top: 15px;
}
.ng-star-inserted {
    margin-bottom: 10px;
}

.content-title {
    text-align: left;
}