<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maps" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Filter</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">

    <ion-item class="date-picker" lines="none" style="width: 50%; display: inline-block">
      <ion-label position="stacked">Datum van</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [max]="today" cancel-text="Annuleer" done-text="Gedaan"
        formControlName="start">
      </ion-datetime>
      <ion-icon name="calendar-outline" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item class="date-picker" lines="none" style="width: 50%; display: inline-block">
      <ion-label position="stacked">Datum tot en met</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [max]="today" cancel-text="Annuleer" done-text="Gedaan"
        formControlName="end">
      </ion-datetime>
      <ion-icon name="calendar-outline" slot="end" size="small"></ion-icon>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <section class="ion-text-center">
    <ion-button class="ion-text-uppercase" color="primary" fill="clear" (click)="showAll()">Toon alles
    </ion-button>
    <ion-button class="ion-text-uppercase" [disabled]="form?.invalid" (click)="applyFilter()">Pas filter toe
    </ion-button>
  </section>
</ion-footer>