.grayed {
    color: #999999;
}

.blue {
    color: #2b8bc2;
}

.green-icon {
    color: #94C97E;
}

::ng-deep .mat-card-header-text {
    margin-left: 0px !important;
}

.margin-top-20{
    margin-top:20px;
}

.pointer{
    cursor: pointer;
}