.searchToolbar {
    padding: 0px 20px;
    margin-bottom: 5px;

    ion-input {
        border: 1px solid #DEDEDE;	
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
    }
}

ion-item > * {
    margin-right: 10px;
}

ion-item:first-child {
    font-size: 16px;
    line-height: 20px;
}

ion-item > ion-text:nth-of-type(2) {
    font-size: 14px;
    color: var(--ion-color-medium-tint);
}