<h3>Vangst</h3>

<form [formGroup]="form">

  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select interface="popover" formControlName="type">
      <ion-select-option *ngFor="let catchTypeGroup of catchTypeGroups" [value]="catchTypeGroup.id">
        {{catchTypeGroup.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item-group *ngFor="let catchItem of catchItems?.controls" formArrayName="catches">
    <ion-item [formGroup]="catchItem">
      <ion-label>{{ catchItem?.value?.catchType?.name }}</ion-label>
      <ion-select interface="popover" formControlName="noOfCatches">
        <ion-select-option
          *ngFor="let num of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]"
          [value]="num">
          {{ num }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item-group>

  <ion-item class="date-picker" lines="none">
    <ion-label position="stacked">Vangstdatum</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" [max]="today" [min]="mondaySixWeeksAgo" cancel-text="Annuleer" done-text="Gedaan"
      formControlName="recordedOn">
    </ion-datetime>
    <ion-icon name="calendar-outline" slot="end" size="small"></ion-icon>
  </ion-item>
</form>