<div class="edit-dialog">
    <p class="content-title">Bewerk Vangsttypes</p>
    <form [formGroup]="form">
        <div>
            <mat-form-field>
                <mat-label>Naam</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div>

            <mat-radio-group color="primary" formControlName="trappingTypeId">
                <div *ngFor="let trappingType of trappingTypes">
                    <mat-radio-button [value]="trappingType.id">
                        {{trappingType.name}}</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
        <div>
            <mat-label>Actief</mat-label>
            <mat-radio-group color="primary" formControlName="active">
                <mat-radio-button [value]=true>Ja</mat-radio-button>
                <mat-radio-button [value]=false>Nee</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Volgorde</mat-label>
                <input matInput formControlName="order">
            </mat-form-field>
            <div *ngIf="f.order.errors && !f.order.errors.required" class="invalid-entry">Vul een waarde in tussen 0 en 255</div>
        </div>

        <mat-divider></mat-divider>
        <div class="dialog-buttons">
            <button class="dialog-button" mat-button color="primary" (click)="close()">ANNULEER</button>
            <button class="dialog-button" mat-raised-button color="primary" (click)="saveAndClose()">BEWAAR</button>
        </div>
    </form>
</div>